labuser.pem
*.pem
credentials.txt
credentials

# Node (landing SCSS, Angular, etc.)
node_modules/
*.css.map
Senti2/dist/
Senti2/.angular/

# Terraform
infra/.terraform/
infra/.terraform.lock.hcl
infra/*.tfstate*
infra/terraform.tfvars
