# Copia este archivo a terraform.tfvars y rellena los valores.
# cp terraform.tfvars.example terraform.tfvars

aws_region       = "us-east-1"
project_name     = "senti2"
instance_type    = "t3.micro"
key_name         = "senti2-lab" # Nombre del key pair en AWS Console → EC2 → Key Pairs

# Tu IP pública + /32 (https://ifconfig.me). En el lab puedes usar 0.0.0.0/0 solo para pruebas.
ssh_allowed_cidr = "TU_IP_PUBLICA/32"

github_repo_url  = "https://github.com/Holasoymartin25/Senti2.git"
github_branch    = "main"
