APP_NAME=Senti2
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://TU_IP_PUBLICA
APP_TIMEZONE=UTC

FRONTEND_URL=http://TU_IP_PUBLICA

LOG_CHANNEL=stack

DB_CONNECTION=pgsql
DB_URL=postgresql://USER:PASSWORD@HOST/DB?sslmode=require

MAIL_MAILER=log
MAIL_CONTACT_TO=senti2soporte@gmail.com

BROADCAST_CONNECTION=reverb
REVERB_APP_ID=senti2
REVERB_APP_KEY=senti2-key
REVERB_APP_SECRET=senti2-secret
REVERB_HOST=localhost
REVERB_PORT=8080
REVERB_SCHEME=http
SESSION_DRIVER=file
CACHE_STORE=file
QUEUE_CONNECTION=sync
